
    <form ng-submit="add()" layout="row" layout-align="center" layout-padding>

            <md-input-container flex-gt-sm="70" flex-gt-xs="70" flex-xs  >
                <label>write your todo here</label>
                <input type="text" ng-model="newEntry">
            </md-input-container>

            <md-button class="md-fab md-warn" aria-label="Add todo" type="submit">
                <ng-md-icon icon="add" size="24"></ng-md-icon>
            </md-button>
    </form>


    <md-content layout="row" layout-align="end center" layout-margin="">
        <span>{{remaining}} out of {{todoList.length}} remaining [<a href="" ng-click="archive()">Archive</a>]</span>
        <span flex-offset-gt-sm="15" flex-offset-gt-xs="15" flex-offset-xs></span>
    </md-content>


    <div ng-repeat="item in todoList | orderBy: '$index':true" layout="row" layout-align="start center" layout-padding>

        <span flex-offset-gt-sm="15" flex-offset-gt-xs="15" flex-offset-xs ></span>

        <md-checkbox ng-model="item.checked" class="md-warn ">
            <span class="md-body-2">
                {{item.text}}
            </span>
        </md-checkbox>
        <span flex-offset-gt-sm="15" flex-offset-gt-xs="15" flex-offset-xs ></span>

    </div>

